:root {
  /* Fonte sem serifa */
  --fonte-padrao: "Roboto", sans-serif;
}

.tabuleiro {
  font-family: var(--fonte-padrao);

  /* Tamanho do tabuleiro */
  width: 500px;
  height: 500px;

  /* Centralizar na página */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* Mostrar células em um grid 3x3 */
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.celula {
  /* Centralizar o texto da célula */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Tamanho da fonte na célula */
  font-size: 4rem;
  /* Borda da célula */
  border: 1px solid #000;
  /* Cursor de "mãozinha" */
  cursor: pointer;
}

.celula:nth-child(3n-1) {
  /* Remover borda das celulas da segunda coluna para evitar borda duplicada */
  border-left: none;
  border-right: none;
}

.celula:nth-child(n + 4):nth-child(-n + 6) {
  /* Remover borda das celulas da segunda para evitar borda duplicada */
  border-top: none;
  border-bottom: none;
}

.celula.xiszinho,
.celula.bolinha {
  /* Desabilitar o cursor de "mãozinha" se a celula estiver preenchida */
  cursor: not-allowed;
}

.bolinha {
  /* Mudar cor dos elementos com a classe do jogador bolinha */
  color: #f00;
}

.xiszinho {
  /* Mudar cor dos elementos com a classe do jogador xiszinho */
  color: #00f;
}

.jogador-atual {
  /* Centralizar o texto do jogador atual na parte superior da tela */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
  font-family: var(--fonte-padrao);
  font-size: 2rem;
}

.celula.vitoria {
  /* Destacar a celula vitoriosa */
  color: #0f0;
}

.jogo.encerrado .tabuleiro .celula {
  /* Desabilitar o cursor de "mãozinha" se o jogo estiver encerrado */
  cursor: not-allowed;
}

.jogo.encerrado .tabuleiro .celula:not(.vitoria) span {
  opacity: 0.3;
}
